rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    // Product Images: Catalogue aur Inventory me image upload ke liye
    match /product_images/{allPaths=**} {
      allow read, write: if true;
    }

    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}

